#internal-page-header {
  background: #006c84;
  height: 245px;
  padding-top: 115px; }

#internal-page-header h1 {
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
  color: #d9edf7; }

#internal-page-header h2 {
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  text-transform: none;
  color: #fef64f;
  padding-top: 10px; }

#internal-page {
  background: #f3f4f4;
  color: #4a4a4a;
  margin: 0 auto;
  text-align: center; }

#internal-page .container {
  background: #f3f4f4;
  color: #4a4a4a;
  max-width: 940px;
  margin: 0 auto;
  text-align: left; }

#internal-page .container h3 {
  margin: 1em 0 0.3em; }

#internal-page p {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.8;
  margin-bottom: 1em; }

#internal-page ul {
  margin: 0 2em 1em;
  list-style: circle;}

#internal-page li {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.8; }

#internal-page dl {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.6; }

#internal-page dt {
  font-weight: bold }

#internal-page dd {
  margin-bottom: 0.8em; }

#internal-page a {
  color: #35a633;
}
